:root {
  --color-primary: #ff0000;
  --color-secondary: #00ff00;
  --color-tertiary: #0000ff;
  --color-text: #616161;
  --color-headings: #000;
}

* {
  box-sizing: border-box;
}

body {
  font-family: "PT Sans", sans-serif;
  color: var(--color-text);
}

h1,
h2,
h3,
h4 {
  font-family: "Nunito", sans-serif;
  color: var(--color-headings);
}

picture img {
  width: 100%;
  display: block;
}

svg {
  width: 200px;
}

img[srcset] {
  width: 50%;
  height: auto;
  margin: 2rem auto;
}

/* temporary fix to size svg images */
img[src$="svg"] {
  width: 200px;
}

.button {
  background-color: #4caf50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.button:hover {
  background-color: #3e8e41;
}

@media (min-width: 381px) {
  picture img {
    height: 100vh;
    object-fit: cover;
  }
}
